
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home'%}">Shashank's World</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
 </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li><a href="{% url 'about'%}">About</a></li>
          <li><a href="http://twitter.com/ ">Twitter</a></li>
       
            </ul>
          </div>
      </div>
</nav>
    
    <div class="container-fluid">      
      
    <h3 class="text-center">Welcome to Shashank World's!!!<h3 />
    {% load static %}
    <center><img src="{% static 'posts/bg.jpg' %}" class="img-responsive" style="max-height:250px"/></center>
<h4>Latest Posts!<h4 />
    
 <hr/>   
   
{% for post in posts.all  %}
  <a href="{% url 'post_det' post.id %}"><h3>{{post.Title}}</h3></a>
    <br/>
  <span class="glyphicon glyphicon-time"></span>{{post.pub_date}} 
  <center><img src="{{post.img.url}}" class="img-responsive" alt="centered image" style="max-height:150px;"/></center>
    <br/>
  <p>{{post.summary}}</p>
    <br/>
    <br/>
{% endfor %}
    
     </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>






